#myProfile {
    float: left;
    margin-left: 20px;
}

#info,
#infoEdit {
    float: left;
    clear: left;
}

#info {
	background: #f7f7f7;
	padding: 0px 20px 0px 20px;
	border: 2px solid #c0c0c0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

#info > div,
#infoEdit > div {
    float: left;
    clear: both;
}

#infoEdit > div {
    font-size: 1.5em;
    margin-bottom: 25px;
}

#editDiv {
    float: right;
}

#overview {
    float: left;
    clear: both;
}

#overview > div {
    float: left;
    clear: both;
}

#overviewTitle {
    margin-left: 20px;    
}

#overviewText {
	background: #f7f7f7;
	padding: 0px 20px 0px 20px;
	border: 2px solid #c0c0c0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

#overview > div > h4,
#overview > div > textarea {
    width: 500px;
}

#overview > div > h4 {
    text-align: left;
    white-space: pre-line;
}