div[id^=authorPost] {
    float: left;
    text-align: left;
    background: #f7f7f7;
    padding: 20px 20px 0px 20px;
    margin-bottom: 10px;
    margin-left: 230px;
    width: 700px;
    border: 2px solid #c0c0c0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    div[id^=authorPost] a {
        font-size: 20px;
    }

    div[id^=authorPost] > #info {
        float: left;
        width: 80%;
    }

    div[id^=authorPost] > #saveButton {
        float: left;
        width: 20%;
        margin-top: 20px;
        text-align: center;
    }