@model EPAM.Model.Author

@{
    ViewBag.Title = "Profile";
    ViewBag.Menu = 2;
}

@section Links{
    @Styles.Render("~/Content/Author/Profile.css")
}

@section FirstMenuBar{
    @Html.Partial("FirstMenuBar")
}
<div id="myProfile"><h1>@(ViewBag.IsOwner ? "My Profile" : "Author Overview")</h1></div>
<div id="partial">@Html.Partial("_ProfilePartial", Model)</div>
@if (ViewBag.IsOwner)
{
    <script>
        $(function () {
            function initPage() {
                $('#edit').click(function () {
                    $('#view').addClass("hidden");
                    $('#editForm').removeClass("hidden");
                });

                $('form').validate({
                    submitHandler: function (form) {
                        var postData = $(form).serializeArray();
                        var formURL = $(form).attr("action");
                        $.ajax({
                            url: formURL,
                            data: postData,
                            type: 'POST',
                            success: function (data) {
                                $('#partial').html(data);
                                initPage();
                            }
                        });
                    }
                });
            };

            initPage();
        });
    </script>
}
