@{
    Layout = "~/Views/Shared/_LayoutSignUp.cshtml";
    ViewBag.Title = "Client";
    ViewBag.CSS = Url.Content("~/Content/SignUp/Client.css");
}

<div id="content-title">Create a Free Client Account</div>
Looking for work? @Html.ActionLink("Sign up as a author", "Author", "SignUp")<br><br>
<form id="form" method="post" action="~/SignUp/RegisterClient">
    <div id="IsCompany">
        <input type="radio" name="IsCompany" value="true" checked="checked" />Company Sing Up&nbsp;&nbsp;&nbsp;
        <input type="radio" name="IsCompany" value="false" />Individual Sign Up
    </div>
    <div id="fields">
        <input type="text" name="Name" placeholder="First Name" />
        <input type="text" name="SName" placeholder="Last Name" />
        <input type="text" name="Email" placeholder="Email" />
        <input type="text" name="CompanyName" placeholder="CompanyName" />
        <select name="TimeZoneId">
            <option value="@Guid.Empty">TimeZone</option>
            @foreach (var item in ViewBag.TimeZones)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
        <input name="Login" value="" placeholder="Login" />
        <input id="Password" name="Password" type="password" value="" placeholder="Password" />
        <input name="repassword" type="password" value="" placeholder="Repeat Password" />
    </div>
    <div id="button"><input type="submit" class="button" value="Get Started" /></div>
    <label id="error" class="hidden">Error occurred while registration</label>
</form>

<script>
    $(function () {
        $('input[name="IsCompany"]').change(function () {
            if ($(this).val() === "true") {
                $('input[name="CompanyName"]').removeClass("hidden");
                $('label[for="CompanyName"]').removeClass("hidden");
            }
            else {
                $('input[name="CompanyName"]').addClass("hidden");
                $('label[for="CompanyName"]').addClass("hidden");
            }
        });

        jQuery.validator.addMethod(
            "regexp",
            function (value, element, regexp) {
                var re = new RegExp(regexp);
                return this.optional(element) || re.test(value);
            });

        jQuery.validator.addMethod(
            "notEqual",
            function (value, element, param) {
                return this.optional(element) || value !== param;
            });

        $('#form').validate({
            rules: {
                Name: {
                    required: true,
                    regexp: /^[a-zA-Z]{3,20}$/
                },
                SName: {
                    required: true,
                    regexp: /^[a-zA-Z]{3,20}$/
                },
                CompanyName: {
                    required: 'input[name="IsCompany"]:checked',
                    regexp: /^[a-zA-Z]{3,30}$/
                },
                Email: {
                    required: true,
                    regexp: /^[0-9a-zA-Z_.]+@@[0-9a-zA-Z.-]+.[a-zA-Z]{2,4}$/
                },
                TimeZoneId: {
                    notEqual: '00000000-0000-0000-0000-000000000000'
                },
                Login: {
                    required: true,
                    regexp: /^[a-zA-Z0-9]{5,20}$/
                },
                Password: {
                    required: true,
                    regexp: /^[a-zA-Z0-9]{5,20}$/
                },
                repassword: {
                    required: true,
                    equalTo: '#Password'
                }
            },
            messages: {
                Name: {
                    required: "First name is required",
                    regexp: "First name must consist only of 3 to 20 latin letters"
                },
                SName: {
                    required: "Last name is required",
                    regexp: "Last name must consist only of 3 to 20 latin letters"
                },
                CompanyName: {
                    required: "Company name is required",
                    regexp: "Company name must consist only of 3 to 30 latin letters"
                },
                Email: {
                    required: "Email is required",
                    regexp: "Incorrect email"
                },
                TimeZoneId: {
                    notEqual: "TimeZone is required"
                },
                Login: {
                    required: "Login is required",
                    regexp: "Login must consist only of 5 to 20 latin letters or numbers"
                },
                Password: {
                    required: "Password is required",
                    regexp: "Password must consist only of 5 to 20 latin letters or numbers"
                },
                repassword: {
                    required: "Repassword is required",
                    equalTo: "Repeat password correctly"
                }
            },
            submitHandler: function (form) {
                var postData = $(form).serializeArray();
                var formURL = $(form).attr("action");
                $.ajax({
                    url: formURL,
                    data: postData,
                    type: 'POST',
                    success: function (data) {
                        if (data == '')
                            $('#error').removeClass('hidden');
                        else
                            location = data;
                    }
                });
            }
        });
    });
</script>
