#content-title {
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
	line-height: 40px;
}

#isCompany {
	margin-top: 20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#fields {
	margin-top: 20px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

#fields input, select{
	width: 100%;
}

#button {
	margin-top: 20px;
}